.chat-main
  .chat-main__group
    .chat-main__group__left
      .chat-main__group__left__test<
        test
      .chat-main__group__left__member<
        Member : masa
    .chat-main__group__right
      .chat-main__group__right__edit<
        = link_to '#' do
          Edit
  .chat-main__message
    .chat-main__message__list
  .chat-main__form
