.side-bar
  .side-bar__header
    .side-bar__header__box
      %p.side-bar__header__box__user-name<masa
      %ul.side-bar__header__box__menu
        %li.side-bar__header__box__menu__icon1
          = link_to '#', class: "icon-btn" do
            %i.far.fa-edit.icon-color
        %li.side-bar__header__box__menu__icon2
          = link_to '#', class: "icon-btn" do
            %i.fa.fa-cog.icon-color
  .side-bar__group-list
