@import "./mixin/flexb";
@import "./mixin/heiwid";
@import "./mixin/color";
.side-bar__header{
  height: 100px;
  background-color: #253141;
  @include fb;
  align-items: center;
  &__box{
    @include heiwid(20px, 260px);
    margin: 0 auto;
    @include fbjcbet;
    &__user-name{
      line-height: 20px;
      font-size: 16px;
      font-weight: bold;
      @include colofff;
    }
    &__menu{
      width: 60px;
      @include fbjcbet;
      line-height: 20px;
      &__icon{
        margin-left: 5px;
      }
      .icon-color{      
        @include colofff;
      }
      .icon-btn{
        text-decoration: none;
      }
    }
  }
}